.header img{
  float: left;
  width: 30/75rem;
  height:48/75rem;
  margin-top: -3/75rem;
}
.header{
  height:90/75rem;
  box-sizing: border-box;
  background-color: #43bf92;
  padding-top:26/75rem;
  padding-left:20/75rem;
  padding-right:20/75rem;
}
.header span{
  display:block;
  width:104/75rem;
  float:left;
  font-size: 29/75rem;
  color:white;
}
.header>p{
  width:180/75rem;
  font-size: 35/75rem;
  color:white;
  margin:0 auto;
}
.header>a{
  float:right;
  display:block;
  width:120/75rem;
  color:white;
  text-align: right;
  font-size: 30/75rem;

}
//header½áÊø
body{
  background-color: #f1f1f1;
}
.content{
  width:100%;
  background-color: white;
}
.content_wrap{
  width:690/75rem;
  margin:30/75rem auto;
}

.img1{
  padding-top:10/75rem;
  width:100%;
  height:100/75rem;
  box-sizing: border-box;

}
.img1 img{
  float:left;
  width:81/75rem;
  margin-right:17/75rem;
}
.img1 span{
  float:left;
  width:60/75rem;
  display:block;
  line-height:100/75rem;
  height:90/75rem;
  font-size: 28/75rem;
  color:#111111;
}
.img1 i{
  height:90/75rem;
  line-height:100/75rem;
  float:right;
  font-size: 30/75rem;
}
.img1 p{
  float:right;
  width:120/75rem;
  margin-left:364/75rem;
  height:90/75rem;
  line-height:100/75rem;
  font-size: 27/75rem;
}
.img2{
  border-top:1px solid #e8e8e8;
}