.wrap {
  padding: 0.4rem 0.66666667rem;
}
.top a {
  font-size: 0.4rem;
  color: #43bf92;
}
.top a:last-child {
  float: right;
}
.icon {
  width: 100%;
  text-align: center;
}
.icon img {
  padding-top: 1.06666667rem;
  padding-bottom: 0.53333333rem;
  display: inline-block;
  width: 2.44rem;
  height: 2.26666667rem;
}
.login > div {
  margin: 0.53333333rem 0;
  border-bottom: 1px solid #43bf92;
}
.login input {
  font-size: 0.37333333rem;
  border: none;
  width: 8rem;
  height: 0.66666667rem;
  text-indent: 0.66666667rem;
  background: url("../images/tell_07.png") no-repeat 0 center;
  background-size: 0.33333333rem;
}
.pwd > input {
  background-image: url("../images/pwd.png");
}
.login button {
  display: block;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  color: white;
  border-radius: 0.13333333rem;
  background: #43bf92;
  font-size: 0.48rem;
  font-family: 'Microsoft YaHei';
  margin-top: 0.66666667rem;
  text-align: center;
}
.login > a {
  display: block;
  width: 100%;
  text-align: right;
  padding: 0.33333333rem 0;
  font-size: 0.37333333rem;
  color: #202020;
}
