.header p {
  display: inline-block;
  color: #43bf92;
  padding: 0.4rem 0.8rem;
  font-size: 0.42666667rem;
}
.header p:last-child {
  float: right;
}
.icon {
  padding-top: 0.8rem;
  padding-bottom: 1.46666667rem;
}
.icon img {
  margin: 0 auto;
}
.log {
  padding-left: 0.93333333rem;
  position: relative;
}
.log input {
  width: 8rem;
  height: 0.8rem;
  border: 0 solid;
  border-bottom: 3px solid #43bf92;
  margin-top: 0.66666667rem;
  text-indent: 0.66666667rem;
  font-size: 0.48rem;
}
.log .yanzheng {
  display: inline-block;
  margin-left: -2rem;
  padding: 0 0.13333333rem;
  line-height: 0.8rem;
  color: #ffffff;
  background-color: #43bf92;
}
.l_icon {
  display: inline-block;
  width: 0.33333333rem;
  height: 0.4rem;
  position: absolute;
  left: 1.06666667rem;
  bottom: 3.2rem;
}
.l_icon:first-child {
  position: absolute;
  left: 1.06666667rem;
  bottom: 4.66666667rem;
}
.log .kuang {
  width: 0.4rem;
  height: 0.4rem;
  border: 3px solid #43bf92;
  background-color: #ffffff;
  margin-top: 0.26666667rem;
}
.log a {
  color: #43bf92;
}
.log .btn {
  width: 88%;
  text-align: center;
  background: #43bf92;
  line-height: 1.01333333rem;
  border-radius: 0.26666667rem;
  font-size: 0.45333333rem;
  color: #ffffff;
  margin-top: 1.2rem;
}
