.header img {
  float: left;
  width: 0.4rem;
  height: 0.64rem;
  margin-top: -0.01333333rem;
}
.header {
  height: 1.2rem;
  box-sizing: border-box;
  background-color: #43bf92;
  padding-top: 0.34666667rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
}
.header span {
  display: block;
  width: 1.38666667rem;
  float: left;
  font-size: 0.46666667rem;
  color: white;
}
.header > p {
  width: 1.92rem;
  font-size: 0.46666667rem;
  color: white;
  margin: 0 auto;
}
.header > img {
  float: right;
  width: 0.56rem;
}
img {
  width: 10rem;
}
.test {
  padding-top: 2.02666667rem;
}
.test > p {
  width: 3.2rem;
  margin: 0.33333333rem auto;
  color: black;
  font-size: 0.33333333rem;
}
.test span {
  color: red;
  font-size: 0.33333333rem;
}
.test > a {
  width: 8rem;
  height: 1.2rem;
  background-color: #43bf92;
  color: white;
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.44rem;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
