.header img{
  float: left;
  width: 30/75rem;
  height:48/75rem;
  margin-top: -1/75rem;
}
.header{
  height:90/75rem;
  box-sizing: border-box;
  background-color: #43bf92;
  padding-top:26/75rem;
  padding-left:20/75rem;
  padding-right:20/75rem;
}
.header span{
  display:block;
  width:104/75rem;
  float:left;
  font-size: 35/75rem;
  color:white;
}
.header>p{
  width:144/75rem;
  font-size: 35/75rem;
  color:white;
  margin:0 auto;
}
.header>img{
  float:right;
  width:42/75rem;
}
//header½áÊø

img{
  width:750/75rem;
}
.test{
  padding-top:152/75rem;
}
.test>p{
  width:240/75rem;
  margin:25/75rem auto;
  color:black;
  font-size:25/75rem ;
}
.test span{
  color:red;
  font-size:25/75rem;
}
.test>a{
  width:600/75rem;
  height:90/75rem;
  background-color: #43bf92;
  color:white;
  text-align: center;
  line-height:90/75rem;
  font-size: 33/75rem;
  display:block;
  margin:0 auto;
  border-radius:10px;
 ;
}

